nbproject/
pkg/*
.bundle
Gemfile.lock
test
acts_as_api.tmproj
spec/active_record_dummy/db/*.sqlite3
spec/active_record_dummy/tmp/**/*
spec/active_record_dummy/log/*.log
spec/mongoid_dummy/tmp/**/*
spec/mongoid_dummy/log/*.log
.rspec
.rvmrc
*.sqlite3-journal